@tailwind base;
@tailwind components;
@tailwind utilities;

.fade {
    @apply transition-opacity duration-300 opacity-0;
}

.fade-in {
    @apply opacity-100;
}

.fade-top {
    @apply -translate-y-64 opacity-0 transition-all duration-700;
}

.fade-top-in {
    @apply translate-y-0 opacity-100;
}

.fade-right {
    @apply -translate-x-64 opacity-0 transition-all;
}

.fade-right-in {
    @apply translate-x-0 opacity-100;
}

html {
    scroll-behavior: smooth;
}

section {
    @apply mb-16 md:mb-24 lg:mb-36;
}

a:hover > .slide-up {
    @apply transition -translate-y-1;
    color: var(--iris-a11);
}

#view-resume:hover {
    color: var(--iris-a11);
}

.social-icon {
    height: 1.75rem;
    width: 1.75rem;
}

.nav-item > a {
    opacity: 0.5;
}

.nav-item.active > a,
.nav-item:hover > a {
    color: var(--iris-a11);
    opacity: 1;
}

.employment-item {
    @apply rounded px-1 lg:px-4 py-4 hover:bg-zinc-900 ease-in duration-200;
}

.employment-item:hover {
    color: var(--iris-a10);
}

.text-iris-10 {
    color: var(--iris-a10);
}
